#select-style #vzaar #controls .control-bar #time {
    padding: 0px;
  }
  
  
  /*** vzaar ***/
  
  #vzaar {
    position: relative;
    margin: 0px auto;
    /* max-width: 960px; */
    padding: 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
  }
  
  #vzaar .video-container {
    position: relative;
    padding-bottom: 0 !important
      /*56.25%;*/
    ;
    height: auto !important
      /*0*/
    ;
    overflow: auto !important
      /*hidden*/
    ;
  }
  
  #vzaar {
    width: 100%;
    height: 100%;
    /* background: black; */
  }
  
  #vzaar:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
  
  #vzaar:-webkit-full-screen .video-container {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  #vzaar .video-container video {
    position: relative !important
      /*absolute*/
    ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
  }
  
  #vzaar .video-container .video-js {
    position: unset;
  }
  
  #vzaar .play-center {
    width: 90px;
    height: 90px;
    margin: -45px auto 0px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    z-index: 9;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.64);
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
}

#vzaar .play-center:after {
    background: url(../gfx/play.png) no-repeat top left / 29px 30px;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 30px;
    left: 35px;
}

#vzaar .play-center:hover:before {
    border: 10px solid rgba(0, 0, 0, 0.64);
    ;
    position: absolute;
    content: '';
    width: 110px;
    height: 110px;
    left: -20px;
    top: -20px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
  
  #vzaar #controls {
    position: absolute;
    /* padding: 0px 40px 21px 40px; */
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2147483647;
    margin: 0 auto;
    /* display: flex; */
  }

  #vzaar #controls-center {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 18%;
    top: 45%;
    left: 0px;
    z-index: 2147483647;
    display: flex;
  }

  #vzaar #controls-center #previous,
  #vzaar #controls-center #backward,
  #vzaar #controls-center #forward,
  #vzaar #controls-center #next {
    /* fill: #fff; */
    width: 100px;
    height: 100px;
  }

  #vzaar #controls-center .pp-button {
    /* float: left; */
    position: relative;
    /* height: 35px; */
    width: 50px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    /* background: rgba(255, 201, 14, 0.8); */
  }
  
  #vzaar #controls-center .pp-button:after {
    background: url(../gfx/play.svg) no-repeat top left / 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    content: '';
    top: 0px;
    left: 4px;
  }
  
  #vzaar #controls .playing:after {
    background: url(../gfx/pause.svg) no-repeat top left / 30px 30px;
    /* background-position: bottom left !important; */
  }
  
  #vzaar #controls .fullscreen {
    position: absolute;
    margin-top: 8px;
    height: 28px;
    right: 6px;
  }
  
  #vzaar #controls .fullscreen img {
    width: 19px;
  }
  
  #select-style #vzaar #controls .fullscreen {
    bottom: 9px;
  }
  
  /*#vzaar #controls button.volume {margin: 0px 4px;}*/
  
  
  #vzaar #controls .control-bar {
    height: 37px;
    width: 100%;
    display: flex;
    /* margin: 0px 96px 0px 0px; */
    position: relative;
  }
  
  #vzaar #controls #time {
    text-align: right;
    float: left;
    /* margin: 0px 18px 0px 22px; */
    line-height: 31px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
  }
  
  #vzaar #controls .control-bar span {
    text-align: right;
    float: left;
    margin: 0px 2px;
    line-height: 31px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
  }

  #vzaar #controls #duration {
    text-align: right;
    float: left;
    /* margin: 0px 8px 0px 22px; */
    line-height: 31px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
  }
  
  #vzaar::full-screen {
    width: 100%;
    height: 100%;
  }
  
  ::-moz-full-screen #vzaar {
    width: 100%;
    height: 100%;
  }
  
  #vzaar::-moz-full-screen {
    width: 100%;
    height: 100%;
  }
  
  #vzaar::-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
  
  #select-style #vzaar #controls .control-bar {
    height: 32px;
  }
  
  #vzaar #controls .cc-control {
    font-weight: bold;
    font-size: 19px;
    font-family: 'verdana', sans-serif;
    cursor: pointer;
    width: 48px;
    padding-right: 5px;
    width: 48px;
    position: absolute;
    color: #fff;
    right: 53px;
  }

  #vzaar #controls .cc-control img {
    position: fixed;
    height: 35px;
    transition: scale 0.1s;
  }
  
  /* #vzaar #controls .cc-control img:active {
    scale: 1.2;
  }
   */
  #vzaar #controls .cc-control.enabled {
    padding-right: 5px;
    width: 48px;
    /* height: 12px; */
    position: absolute;
    color: #fff;
    right: 53px;
  }
  
  #select-style #vzaar #controls .cc-control {
    margin: 1px 0px 0px 10px;
  }
  
  #vzaar div#qualitySelector {
    position: absolute;
    width: 40px !important;
    /* margin-right: 6px; */
    right: 21px;
    /* height: 140px; */
    margin-top: 5px;
  }
  
  #vzaar div#qualitySelector img {
    cursor: pointer;
    width: 24px;
  }
  
  #vzaar div#qualitySelector img:hover {
    /* background-color: rgb(145, 59, 6)!important; */
    /* scale: 1.2; */
  }
  
  #vzaar #controls .progress {
    display: flex;
    margin-top: 0.9em;
    /* border: 1px solid rgb(0 0 0); */
    height: 3px;
    width: 100%;
    top: 13px;
    left: 10px;
    right: 90px;
    background: rgb(135 133 133);
    -moz-box-shadow: 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    /* border-radius: 6px;*/
  }
  
  #vzaar #controls .loaded {
    background-color: #999;
    height: 3px;
    cursor: pointer;
    width: 0%;
    max-width: 99.5%;
    /* border: 1px solid rgb(63, 64, 64); */
    /* border-radius: 6px; */
  }
  
  #vzaar #controls .played {
    /* position: absolute; */
    /* top: -6px; */
    /* left: 13px; */
    right: 0px;
    bottom: 0px;
    height: 3px;
    width: 100%;
    max-width: 100%;
  }
  
  #vzaar #controls .played .ui-slider-range {
    background-color: #00adef;
    /* border: 1px solid rgb(63, 64, 64); */
    /* border-radius: 6px; */
    height: 3px;
  }
  
  #vzaar #controls .played .ui-slider-handle {
    cursor: pointer;
    width: 8px;
    /* display: none; */
    /* border: 1px solid rgb(63, 64, 64); */
    border-radius: 7px;
    height: 8px;
  }
  
  #vzaar #controls .volume {
    position: relative;
    width: 32px;
    margin: 4px 9px 0px 14px;
  }
  
  #vzaar #controls .volume img {
    float: left;
    width: 72%;
  }
  
  #vzaar #controls .volume path {
    fill: #fff;
  }
  
  #vzaar #controls .volume path:hover {
    fill: #00adef;
  }
  
  #vzaar #controls .volume span.mute {
    float: left;
    color: #909598;
    font-size: 14px;
    font-weight: bold;
    display: none;
  }
  
  #vzaar #controls .volume.mute span.mute {
    opacity: 1;
    display: block;
  }
  
  #vzaar #controls .volume.mute span.mute.hide {
    opacity: 0;
  }
  
  #vzaar #controls .volume svg {
    cursor: pointer;
    width: 25px;
  }
  
  #vzaar #controls .volume #volume-bar {
    width: 28px;
    height: 83px;
    bottom: 56px;
    /* border: 1px solid #c0bfbf; */
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    /* bottom: 42px; */
    left: -2px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 4px;
  }
  
  #vzaar #controls .volume #volume-bar .played {
    cursor: pointer;
  }
  
  #vzaar #controls .volume #volume-bar .played .ui-slider-range {
    background: #2c849a;
  }
  
  #vzaar #controls .volume #volume-bar .played .ui-slider-handle {
    display: block;
    cursor: pointer;
    background: fffff;
    border: 1px solid #c0bfbf;
    width: 6px;
    height: 6px;
    left: -2px !important;
    border-radius: 6px;
  }
  
  #vzaar #controls .volume #volume-bar #volume-control {
    margin: 11px auto;
    background-color: #555454;
    width: 4px;
    height: 63px;
    border-radius: 6px;
  }
  
  #select-style #vzaar #controls .progress {
    height: 12px;
  }